---
import Layout from '../../layouts/Main.astro';
import ProductCard from '../../components/ProductCard.astro';

// Datos de productos de oro
const products = await fetch ("http://localhost:8080/productos/oro")
.then(res=>{return res.json()})
---

<Layout title="Joyas de Oro | Tu Joyería">
  
  
  <section class="relative h-64 overflow-hidden">
    
    <div class="absolute inset-0 flex flex-col justify-center items-center bg-black/30 text-center">
      <h1 class="mb-2 font-serif text-white text-4xl">Colección de Oro</h1>
      <p class="max-w-lg text-white">Descubre nuestras piezas exclusivas en oro, elaboradas con los materiales más finos para momentos especiales</p>
    </div>
  </section>

  <!-- Contenido Principal -->
  <section class="px-4 py-12">
    <div class="mx-auto container">

      <!-- Products Grid -->
      <div class="gap-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4" id="productsContainer">
        {products.map((product) => (
          <ProductCard 
              id={product._id}
              image={product.image}
              title={product.title}
              description={product.description}
              price={product.price}
            />
        ))}
      </div>   
  </section>
</Layout>